html, body{
    margin: ;
    height:100%; 
}

.container{
    margin-top: 100px;
}

.row #facebook{
    text-align: center;
    font-size: 20px;
}

.row #instagram{
    text-align: center;
    font-size: 20px;
}

.row #linkedin{
    text-align: center;
    font-size: 20px;
}

.row #gmail{
    text-align: center;
    font-size: 20px;
}

.row i{
    font-size: 200px;
}
