html, body{
    margin:0;
    padding: 70px;
    height:100%;    
}

.row{
    height: 50%;
}

.row #facebook{
    width: 50%;
    height: 100%;
}

.row #instagram{
    width: 50%;
    height: 100%;
}

.row #linkedin{
    width: 50%;
    height: 100%;
}

.row #gmail{
    width: 50%;
    height: 100%;
}

.row i{
    font-size: 200px;
    position: relative;
}