.summary{
    margin-left: 100px;
}

.screenshots{
    margin-left: 100px;
}

img{
    width: 80%;
    border: solid black 1px;
}

h1{
    text-align: center;
}

p{
    font-size: 26px;
}

hr{
    width: 80%;
    height:10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.github {
    text-align: center;
    font-size: 100px;
}